body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: #fff
}
#start{
    height: 40px;
    width: 100px;
    margin: 30px;
}
#stop{
    height: 40px;
    width: 100px;
}
.result{
    font-size: 2rem;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.379);
}